@body-background: #e5e5e5;
@blue-background: #EFF4F7;
@link-color: #2a6496;

.rounded-corners (@radius: 0) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow {
-moz-box-shadow: 0 0 10px #DBDBD8;
-webkit-box-shadow: 0 0 10px #DBDBD8;
box-shadow: 0 0 10px #DBDBD8;
}

body {
  background-color: @body-background;
}

/*Node styling*/
.node {
  &.teaser {
    &:hover {
      cursor: pointer;
    }
    h1, h2, h3 {
      padding: 0;
      margin: 0;
    }
    h1.title {
      font-size: 1.6em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .rounded-corners (@radius: 0.3em);
    .box-shadow;
    background-color: @blue-background;
    margin-bottom: 0.5em;
    .node-wrap {
      padding: 0.5em;
    }
    .meta-container {
      background: white;
      border-bottom-left-radius: 0.6em 0.6em;
      border-bottom-right-radius: 0.6em 0.6em;
      padding: 0.5em;
      .time {
        margin-top: 0.2em;
        float: left;
        span {
          color: @link-color;
          text-transform: capitalize;
        }
      }
      .profile_pic {
        float: right;
      }
    }
  }
}