<div ng-controller="homeCtrl">
  <div class="col-md-12 col-sm-12">
    <h1>Welcome to FL360 mobile app</h1>
		<a href="#/login">Login</a>
  </div>

	<div class="col-md-12 col-sm-12">
		
    <div class="node teaser" ng-repeat="node in finalNodes" ng-click="showNode(node.nid)">
      
      <div class="node-wrap">
        <div class="title">
          <h1 class="node-title">{{ node.title }}</h1>
        </div>
        <div class="teaser">
          <p ng-bind-html-unsafe="node.body.und[0].safe_summary"></p>
        </div>
      </div>

      <div class="meta-container clearfix">
        <div class="time">By {{ node.name }}</div> 
        <div class="profile_pic"><img src="images/profile_pic.jpg" alt="#" width="72" height="72" /></div>
      </div>

    </div>

	</div>
</div>